@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

main {
    margin-top: 5%;
    border-top: 6px solid #041280;
    font-family: "Roboto Condensed";
    padding: 15px;
    background-color: #F5F5F5;
}

.admin-title{
    text-align: center;
}
.admin-title h1{
    display: inline-block;
    border-bottom: 4px solid #041280;
    padding: 0;
    margin-bottom: 60px;
}
button{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    margin-bottom: 50px;
}

section{
    margin-bottom: 70px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 11.5vh;
}

.nav-item {
    font-family: "Roboto Condensed";
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-nav {
    height: 100%;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: white;
    background-color: #041280;
}

#logo {
    height: 18vh;
    margin-top: 43px;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

@media (max-width: 1450px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    
    .navbar-nav {
        height: auto;
        margin-top: 20px;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #logo {
        max-height: 250px;
        max-width: max-content;
        width: auto;
        height: auto;
        margin-top: 20px;
    }

    .buttons {
        margin-top: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
}

#login , #logout{
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#greetingMessage{
    color: black;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#register {
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#login:hover,
#register:hover,
#logout:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}

.footer-content i {
    color: white;
}

.footer-content {
    border-top: 3px solid black;
}

footer {
    background-color: #041280;
    font-family: "Roboto Condensed";
}


main h1{
    padding-bottom: 25px;
    border-bottom: 3px solid #041280;
}

.service-list,
.gallery-list,
.worker-list,
.category-list{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.single-service,
.single-gallery,
.single-worker,
.single-category{
    padding: 10px 25px;
}

.single-service p,
.single-gallery p,
.single-worker p,
.single-category p{
    font-weight: bold; 
    padding: 10px;
    margin-bottom: 0;
}

label{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.button-container button{
    margin-bottom: 5px;
    background-color: #041280;
    color: white;
    border: none;
    font-size: 18px;
    font-family: "Roboto Condensed";
    height: 6vh;
}

.button-container button:hover{
    background-color: white;
    color: #041280;
    border: 1px solid #041280;
}

.list-group-item .button-container .delete-btn{
    background-color: red;
}

.list-group-item .button-container .delete-btn:hover{
    background-color: red;
    color: black;
    border: none;    
}

.delete-btn button{
    background-color: red;
}


.delete-btn button:hover{
    background-color: red;
    color: black;
    border: none;
}

.add-btn button{
    background-color: green;
}

.add-btn button:hover{
    background-color: green;
    color: black;
    border: none;
}

.edit-btn button{
    background-color: gray;
}

.edit-btn button:hover{
    background-color: gray;
    color: black;
    border: none;
}

.current-image{
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.current-image img {
    max-width: 100%;
    height: auto;
}
.service-list ul,
.worker-list ul,
.category-list ul,
.dish-list ul,
.feedback-list ul{
    max-height: 300px; 
    overflow-y: auto;
}

.gallery-list ul{
    max-height: 250px; 
    overflow-y: auto;
}
