@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

main {
    font-family: "Roboto Condensed";
    text-align: center;
}

main h1 {
    display: inline-block;
    border-bottom: 3px solid #041280;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 11.5vh;
}

.nav-item {
    font-family: "Roboto Condensed";
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-nav {
    height: 100%;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: white;
    background-color: #041280;
}

#logo {
    height: 18vh;
    margin-top: 43px;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

#banner-image {
    width: 100%;
    height: auto;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}
#manage{
    display: none;
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#login , #logout{
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#greetingMessage{
    color: black;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#register {
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#login:hover,
#register:hover,
#manage:hover,
#logout:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}

@media (max-width: 1450px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    
    .navbar-nav {
        height: auto;
        margin-top: 20px;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #logo {
        max-height: 250px;
        max-width: max-content;
        width: auto;
        height: auto;
        margin-top: 20px;
    }

    .buttons {
        margin-top: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #manage{
        margin-top: 30px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
}

.footer-content i {
    color: white;
}

.footer-content {
    border-top: 3px solid black;
}

footer {
    background-color: #041280;
    font-family: "Roboto Condensed";
}

.reservation-form-container {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.reservation-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    height: 100%;
}

.reservation-form input,
.reservation-form button {
    margin-bottom: 10px;
    width: 100%;
}

.reservation-form label {
    font-family: "Roboto Condensed";
    font-style: italic;
}

h3 {
    font-family: "Roboto Condensed";
    text-align: center;
}

#reservation-button {
    background-color: #041280;
    color: white;
    border: none;
    font-size: 18px;
    font-family: "Roboto Condensed";
    height: 7vh;
}

#reservation-button:hover {
    background-color: white;
    color: #041280;
    border: 1px solid #041280;
}

.title-container{
    display: flex;
    justify-content: center;
}

.latest-news-container {
    border: 3px solid #041280;
    border-right: none;
    height: 70vh;
    padding: 5px;
    padding-right: 0;
}

.latest-news-right {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.latest-news-right img {
    width: 100%;
    height: 85vh;
    object-fit: cover;
}

.latest-news-left p {
    font-size: 120%;
}

.list-group-item {
    border: none !important;
}

.list-group-item img,
.list-group-item .card-title,
.list-group-item .card-text,
.list-group-item .card-text {
    border: none !important; 
}

.list-group-item .img-thumbnail {
    border: 4px solid #041280 !important;
    border-radius: 0;
    padding: 0;
}

.single-dish {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), 0px 10px 30px rgba(0, 0, 0, 0.2);
    padding: 3%;
    transition: box-shadow 0.3s ease-in-out;
}

.single-dish:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3), 0px 20px 50px rgba(0, 0, 0, 0.4);
}

.single-dish .list-group-item:last-child .card-text {
    color: #041280;
    display: inline-block;
    font-weight: bold;
    border: 2px solid #041280 !important;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
}

.card-title {
    background-color: #041280;
    color: white !important;
    padding: 3%;
    font-weight: bold;
}

.textup { 
	text-align: center; 
	color: #041280; 
	font-weight: 700; 
} 

.section-review-post i { 
	margin-right: 3px; 
} 

.section-review-post .form-box { 
	background-color: #fff; 
	box-shadow: 0 0 10px rgba(36, 67, 40, 0.8); 
	padding: 15px; 
	border-radius: 0; 
	width: 60%;
    margin: 0 auto;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.review-section .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.review-section .star-rating label {
    font-size: 27px !important;
    padding: 5px;
    cursor: pointer;
    color: gold;
  }

.review-section h4 {
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #041280;
    display: inline-block;
    padding-bottom: 0.5%;
}
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    font-size: 27px !important;
    padding: 5px;
    cursor: pointer;
  }
  
  .star-rating label:before {
    content: '\2605';
  }
  
  .star-rating input[type="radio"]:checked ~ label:before {
    color: gold;
  }  

.section-review-post label { 
	display: block; 
	margin-bottom: 8px; 
	font-size: 17px; 
	color: #041280; 
	font-weight: 600; 
}
.star-rating .rating-text {
    margin-bottom: 8px; 
	font-size: 17px; 
	color: #041280; 
	font-weight: 600; 
}

.section-review-post input, 
.section-review-post textarea { 
	width: 100%; 
	padding: 8px; 
	margin-bottom: 12px; 
	box-sizing: border-box; 
	border-radius: 0;
    border: 2px solid #041280;
} 

.section-review-post button { 
	background-color: #041280; 
	color: white; 
	padding: 10px; 
	border: 3px solid #041280; 
	border-radius: 0; 
	cursor: pointer; 
	width: 100%; 
	transition: .2s linear; 
    font-weight: bold;
} 

.section-review-post button:hover { 
	background-color: white; 
	border: 3px solid #041280;
    color: #041280; 
	transform: translateY(-3px); 
}

.review-container {
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    width: 100%;
}


/* Responsive settings for devices with width up to 1450px */
@media (max-width: 1450px) {
    .reservation-form-container {
        top: 648px;
        width: 300px;
        height: 400px;
    }

    .reservation-form input,
    .reservation-form label {
        font-size: 14px;
    }

    .reservation-form button {
        font-size: 18px;
    }

    .reservation-form h3 {
        font-size: 20px;
    }
}

@media (max-width: 1276px) {
    .reservation-form-container {
        top: 610px;
        width: 300px;
        height: 350px;
    }
}

@media (max-width: 1100px) {
    .reservation-form-container {
        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 20px;
    }
}