@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed";
    background-color: white !important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

html {
    height: 100%;
}

#register-section {
    width: 80%;
    max-width: 1800px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-inputs {
    background-color: #041280 !important;
}

.image-section {
    background-image: url('../Images/registerImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register-inputs h2{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
}

label {
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    font-style: italic;
    display: block;
    font-weight: bold;
    color: white;
}

#email:focus,
#password:focus,
#names:focus,
#password-confirm:focus {
    outline: none !important;
    box-shadow: none;
}

#email,
#password,
#names,
#password-confirm {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    border-radius: 0;
    color: white;
}

.line-input{
    border: none;
}

.btn-block {
    width: 100%;
    margin-top: 20px;
}

#register-button {
    background-color: white;
    color: #041280;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 0;
}

#register-button:hover {
    background-color: #020640;
    color: white;
}

.register-section-footer {
    text-align: center;
    font-weight: bold;
    color: white;
}

.register-section-footer a {
    font-style: italic;
    color: #80ccff;
}

.row{
    box-shadow: 0 0 30px rgba(6, 12, 64, 1);
}