@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

main {
    font-family: "Roboto Condensed";
    text-align: center;
    margin-top: 4%;
}

main h1 {
    border-bottom: solid 4px #041280;
    display: inline-block;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 11.5vh;
}

.nav-item {
    font-family: "Roboto Condensed";
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-nav {
    height: 100%;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: white;
    background-color: #041280;
}

#logo {
    height: 18vh;
    margin-top: 43px;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

#banner-image {
    width: 100%;
    height: auto;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

#login , #logout{
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#greetingMessage{
    color: black;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#register {
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
    font-family: "Roboto Condensed";
}

#login:hover,
#register:hover,
#logout:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}

@media (max-width: 1450px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    
    .navbar-nav {
        height: auto;
        margin-top: 20px;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #logo {
        max-height: 250px;
        max-width: max-content;
        width: auto;
        height: auto;
        margin-top: 20px;
    }

    .buttons {
        margin-top: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
}

.container-workers ul {
    max-height: 250px;
    overflow-y: auto;
}

.footer-content i {
    color: white;
}

.footer-content {
    border-top: 3px solid black;
}

footer {
    background-color: #041280;
    font-family: "Roboto Condensed";
}

.list-group-item {
    margin: 1%;
    border-radius: 0% !important;
    background-color: #041280 !important;
    color: white !important;
}

.list-group-item .btn {
    font-weight: bold;
    border-radius: 0;
    color: white;
    background-color: #041280;
}

.list-group-item .btn:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}

.container-team {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    height: 70vh;
}

.container-workers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.container-details {
    height: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-details .row {
    border: 2px solid #041280;
}

.container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}